<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dejobhu.skhu.dejobhu">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/group"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModifyName"></activity>
        <activity android:name=".login.FirstAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetPassword" />
        <activity android:name=".SettingPassword" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".EmailAuthToFindPWD" />
        <activity android:name=".FindPassword" />
        <activity android:name=".EmailAuthActivity" />
        <activity android:name=".MyPage" />
        <activity android:name=".ConfirmEmail" />
        <activity android:name=".AddQustion" />
        <activity android:name=".activity_login"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_form"
            android:theme="@style/AppTheme" />
        <activity android:name=".membership_register" />
        <activity android:name=".SendNote" />
        <activity android:name=".MainFormActivity" />
        <activity android:name=".list_MainActivity" />
        <activity android:name=".loginActivity" /> <!-- [naveroauthlogin][start] 네이버아이디로로그인을 사용하기 위해서 넣어줘야하는 부분 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
    </application>

</manifest>